# Imports

In [6]:
import numpy as np
np.random.seed(42)
import pandas as pd
from sklearn.model_selection import train_test_split

## Load dataset from file

In [7]:
# Open the file for reading...
df = pd.read_csv('combats.partial.csv')
df.drop_duplicates(keep=False, inplace=True)
df.reset_index(drop=True, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37556 entries, 0 to 37555
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Winner          37556 non-null  int64
 1   First_pokemon   37556 non-null  int64
 2   Second_pokemon  37556 non-null  int64
dtypes: int64(3)
memory usage: 880.3 KB

### After shuffle then split dataset into train and test sets

In [8]:
train, test = train_test_split(df, test_size=0.33, random_state=42)

### Finally write the two csv files

In [9]:
train.to_csv('train.csv', index=False)

In [10]:
test.to_csv('test.csv', index=False)

In [11]:
train.head()

       Winner  First_pokemon  Second_pokemon
11389     248            710             248
4479      411            190             411
20924     646            647             646
29421     549            549             678
13831     422            422              60

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25162 entries, 11389 to 15795
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Winner          25162 non-null  int64
 1   First_pokemon   25162 non-null  int64
 2   Second_pokemon  25162 non-null  int64
dtypes: int64(3)
memory usage: 786.3 KB

In [13]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12394 entries, 25753 to 4198
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Winner          12394 non-null  int64
 1   First_pokemon   12394 non-null  int64
 2   Second_pokemon  12394 non-null  int64
dtypes: int64(3)
memory usage: 387.3 KB